{
    "db_info": {
        "host": "<address>",
        "db": "atolo",
        "user": "<db_user>",
        "password": "<password>"
    },
    "contract_info": {
        "rest_server": "",
        "chain_id": "",
        "admin_mnemonic": "",
        "swap_proxy": "",
        "swap_logic": ""
    },
    "mailer" : {
        "host": "",
        "sender": "",
        "password": ""
    }
}
